*{margin: 0;padding: 0;}
body{
    background: #222831;
    color: white;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16vh;
    gap: 20px;
}
.logo{
    text-align: center;
    font-size: 24px;
    padding: 12px;
    background-color: #205e72;
}
.greetings{
    font-size: 48px;
    margin-bottom: 8px;
}
.option-button{
    background: #205e72;
    color: white;
    outline: none;
    border: none;
    padding: 20px 20px;
    margin: 24px;
    border-radius: 16px;
    font-size: 28px;
    align-items: center;
    transition: all .4s;
}

.faculty-or-student-container{
    /* margin-left: 24px; */
    margin-top: 12vh;
}
a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
    border: none; 
    padding: 0; 
    margin: 0; 
}
.button-group {
    display: flex;
    justify-content: center; 
    margin-top: 5vh;
    margin-bottom: 20px; /* Adds space between the two rows */
}
.btn {
    background: #205e72;
    color: white;
    outline: none;
    border: none;
    padding: 24px 36px;
    margin: 32px;
    border-radius: 16px;
    font-size: 28px;
    align-items: center;
    transition: all .4s;
   }
   
@media only screen and (max-width: 768px) {
    .button-group {
      flex-direction: row;
    }
    .option-button {
      flex: 1 1 calc(50% - 16px); 
      padding: 20px 0px;
      margin: 4px;
      font-size: 16px; 
    }
    .btn{
        padding: 14px 24px; 
        /* height: 72px; */
        margin: 8px;
        

    }
  }
  /* For faculty button */ 

   .btn:hover {
    background: #3b7d93;
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
       transition: all 0.2s;
       transform: translateY(-5px);
       box-shadow: 0 2px 0 -2px #f85959,
       0 8px 0 -4px #39a2db,
       0 12px 10px -3px #39a2db;
    }
    .option-button:hover {
     background: #3b7d93;
     border-radius: 5px;
     transform: translateY(-10px);
     box-shadow: 0 7px 0 -2px #f85959,
      0 15px 0 -4px #39a2db,
      0 16px 10px -3px #39a2db;
    }
   .option-button:hover {
    background: #3b7d93;
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .option-button:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }